body{
    font-family: 'Preahvihear', sans-serif;
    background-color:azure;
}
.header_div{
    color:white;
    background-color:darkgray;
    padding:20px;
}
.header_div p{
    color:white;
    letter-spacing:2px ;
    font-weight:bold;
}
button{
    width: 170px;
    letter-spacing: 2px;
    font-size:20px !important;
    margin-top:10px;
}
.copy_right_footer{
    position:fixed;
    width:100%;
    text-align:center;
    bottom:0;
    background-color:white;
    line-height:3;
    font-size:15px;
    border:10px;
    border-color:black;
}